@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; 
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 15rem;
    background: linear-gradient(to right, #000, #535353);
    color: white;
    box-shadow: 0 0.5rem 2rem black;
}

.nav-menu {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
  }
  
.menu li {
    font-size: 2.5rem;
    width: 15rem;
    height: 15rem;
}

.menu li a {
    width: 100%;
    text-decoration: none;
    color: white;
    line-height: 25rem;
    font-weight: bold;
}

.menu li a:hover {
    background-color: #202020;
    
}

header img {
    border-radius: 50%;
    max-width: 200px;
    margin: 1rem;
}

header h1 {
    width: 100%;
    margin: 5.5rem 0 0 3rem;
    font-size: 4rem;
    font-weight: bold;
}

#sigla {
    display: none;
}

#pagina-atual{
    text-decoration: underline;
}
footer{
    background-color: black;
    display: flex;
    width: 100%;
    height: 15rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 -0.5rem 2rem black;
}
footer p,
footer p a{
    color: white;
    font-size: 2rem;
}
/* ====================================== MENU MOBILE ====================================== */

.menu-mobile {
    background-color: #0000008c;
    backdrop-filter: blur(1rem);
    position: absolute;
    left: 0;
    top: 15rem;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    font-weight: bold;
}


/* ====================================== HOME ====================================== */

.container {
    margin: 2rem;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    

}

.quem-somos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    width: 100%;
}

.quem-somos h2 {
    font-size: 8rem;
}

.quem-somos p {
    margin-top: 1rem;
    font-size: 5rem;
}

.nossos-objetivos {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    width: 100%;
}

.nossos-objetivos h2 {
    font-size: 8rem;
}

.nossos-objetivos p {
    margin-top: 1rem;
    font-size: 5rem;
}


#logo-apagado {
    position: absolute;
    opacity: 0.4;
    top: -10vw;
    left: 60vw;
    max-width: 1300px;
    width: 100%;
    z-index: -1;
}

/* ====================================== PROBLEMA ====================================== */

.container-problema {
    margin: 2rem;
    text-align: justify;
}

.problema {
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    width: 100%;
}

.problema h2 {
    font-size: 8rem;
}

.problema p {
    font-size: 5rem;
    margin-top: 1rem;
}

.grafico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
.grafico h3 {
    font-size: 4.5rem;
    text-align: left;
    max-width: 650px;
    width: 100%;
    margin-top: 3rem;

}
.grafico img {
    width: 100%;
    max-width: 700px;
    margin: 5rem 7rem;
    border: #000 solid 3px;
  }

/* ====================================== PRODUTO ====================================== */

.container-produto img {
    max-width: 500px;
    width: 100%;
}

.container-produto {
    text-align: justify;
    margin: 2rem;
}

.grow h2,
.beneficio h2 {
    font-size: 8rem;
    width: 100%;
}

.grow p,
.beneficio p {
    font-size: 4.5rem;
    margin-top: 1rem;
    max-width: 1100px;
    width: 100%;
}

.grow,
.beneficio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beneficio img {
    margin-top: -20rem;
}
/* ====================================== IMPACTOS ====================================== */
.container-impactos img {
    max-width: 500px;
    width: 100%;
}

.container-impactos {
    text-align: justify;
    margin: 2rem;
}
.agricultura-vertical h2, 
.comunidades h2{
    font-size: 4.5rem;
    width: 100%;
}
.agricultura-vertical p,
.comunidades p{
    font-size: 2.5rem;
    margin-top: 1rem;
    max-width: 1100px;
    width: 100%;
}
.agricultura-vertical,
.comunidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* ====================================== PRODUTO ====================================== */

.container-pitch{
    margin: 2rem;
    text-align: justify;
}

.pitch{
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    width: 100%;
}

.pitch h2{
font-size: 8rem;
}

.pitch p{
    font-size: 5rem;

    }

.video-pitch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

video {
    max-width: 800px;
    max-height: 500px;
    height: auto;
    width: 100%;
    border: #000 solid 3px;
    background-color: #000;
}

/* ====================================== SUPORTE ====================================== */

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15rem 1rem;
  }
  
  td, th {
    border-bottom: 1px solid black;
    padding: 0.8rem;
    font-size: 2rem;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .container-suporte h2{
    font-size: 6rem;
    margin: 2rem;
  }
  .container-suporte{
    display: flex;
    flex-wrap: wrap;
  }
 















  /* ====================================== RESPONSIVIDADE ====================================== */

@media (max-width: 1740px) {
    header h1 {
        margin-top: 3rem;
        max-width: 400px ;
    }
}

@media (max-width: 1655px) {
    .beneficio img,
    .grow img {
        margin: 0;
        align-self: center;
    }

    .beneficio,
    .grow {
        display: flex;
        flex-direction: column;
    }


}


@media (max-width: 1485px) {

    header h1 {
        margin-top: 0;
    }
}

@media (max-width: 1455px) {
    .grafico img {
        margin: 0;
    }
}

@media (max-width: 1370px) {
    .menu, .nav-menu {
        display: none;
    }
    header h1 {
        max-width: 650px;
        margin-top: 5rem;
    }

    .menu-mobile a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 2rem 3rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .menu-mobile a:hover {
        background-color: #00000080;
    }

    header {
        justify-content: space-between;
    }

    #btn-menu {
        width: 8rem;
        height: 8rem;
        margin-top: 4rem;
        border: 0.2rem solid white;
        background-color: transparent;
        cursor: pointer;
    }

    .linha {
        width: 5rem;
        height: 0.4rem;
        background-color: white;
        display: block;
        margin: 1.1rem auto;
        position: relative;
        transform-origin: center;
        transition: 0.2s;
    }

    button.ativar .linha:nth-child(1){
        transform: translateY(1.5rem) rotate(-45deg);
    }

    button.ativar .linha:nth-child(3){
        transform: translateY(-1.5rem) rotate(45deg);
    }

    button.ativar .linha:nth-child(2){
        width: 0;
    }

    .menu-mobile.abrir {
        visibility: visible;
    }

    .quem-somos h2,
    .nossos-objetivos h2,
    .problema h2,
    .grow h2,
    .beneficio h2,
    .pitch h2 {
        font-size: 4rem;
    }
    
    .quem-somos p,
    .nossos-objetivos p,
    .problema p,
    .grow p,
    .beneficio p,
    .pitch p{
        font-size: 2.5rem;
    }

    .grafico h3 {
        font-size: 3rem;
        align-self: stretch;
    }

    .grafico img {
        max-width: 500px;
    }

    .grafico {
        flex-direction: column;
        align-items: center;
    }






}

@media (max-width: 940px) {
    header h1 {
        display: none;
    }

    #sigla {
        display: block;
        text-align: center;
    }
    
}
@media (max-width: 780px) {
    .email{
        font-size: 1rem;
      }
    
}
@media (max-width: 667px) {
    td, th{
        font-size: 1.5rem;
    }
}